@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:400,500,600,900|Sacramento&display=swap');

// colors
$primary-white: #fff;
$primary-black: #000;
$primary-red: #f00;
$primary-grey: #c4c4c4;
$secondary-white: #f2f2f2;
$secondary-white-2: #bdbdbd;
$secondary-grey: #828282;

// fonts
$raleway: 'Raleway', sans-serif;
$bitter: 'Bitter', serif;
$sacramento: 'Sacramento', cursive;
